/* Daftar isi
*	0. Font family
*	1. Navbar
*	2. Hero
*	3. Button
*	4. Check label
*	5. Card
*	6. Footer
*	7. side menu
*/
.py-custom {
  padding-top: 5rem !important;
  padding-bottom: 8rem !important; }

.my-custom {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem; }

.mt-custom {
  margin-top: 2rem; }

.pointer {
  cursor: pointer !important; }

.grayscale {
  opacity: .6;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }

.no-line:hover {
  text-decoration: none; }

.dropdown-menu {
  border-weight: 2px !important;
  top: calc(100% + 8px) !important;
  box-shadow: 3px 3px 2px rgba(18, 18, 18, 0.18); }

select.invalid:invalid,
select.invalid option[value=""],
select.invalid option:first-child {
  color: red; }

.container-2 {
  max-width: 560px; }

.truck {
  z-index: 1;
  text-align: center;
  position: relative;
  max-width: 10rem;
  max-width: 7rem; }

.truck:before {
  content: " ";
  width: 100%;
  height: 50%;
  display: flex;
  right: 0;
  left: -0.5rem;
  align-items: center;
  position: absolute;
  border-bottom: 1px dashed #afb1b3;
  z-index: -1; }

.truck-icon {
  margin-right: 1rem;
  padding: 0 .5rem;
  background: #fff;
  z-index: 2;
  width: 3.5rem; }

.navbar.bg-active {
  background-color: #fff;
  box-shadow: 0 0 4px grey;
  height: 80px; }

.letter-spacing {
  letter-spacing: 1px; }

/*Added for browser compatibility*/
[hidden] {
  display: none; }

body {
  font-family: "Poppins", "Helvetica", "Roboto", sans-serif !important;
  font-size: 16px;
  color: #242526;
  line-height: 1.5; }

.logo h1 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0; }

.navbar {
  background-color: transparent;
  transition: all 375ms ease 0s;
  height: 120px; }
  .navbar h1 {
    color: #242526;
    font-size: 1.5rem; }
  .navbar h1:hover {
    coloe: #161722; }
  .navbar-brand img {
    transition: all 500ms cubic-bezier(0.69, 0, 0, 1); }
  .navbar-toggler {
    cursor: pointer;
    line-height: 0 !important;
    border: 0 !important;
    outline: 0 !important; }
    .navbar-toggler :focus {
      outline: 0 !important; }

p.description {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase; }

.mt-2rem {
  margin-top: 2rem !important; }

.hero-img {
  padding: 5rem 0 10rem;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  background-color: #ABDCFF;
  background-image: -webkit-linear-gradient(to bottom right, #89f7fe, #66a6ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to bottom right, #89f7fe, #66a6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  min-height: 35rem;
  height: 100%; }

.hero-text {
  margin-bottom: 4rem; }
  .hero-text h2 {
    letter-spacing: .375rem;
    font-size: 2.25rem;
    font-weight: 800;
    color: #097EC4;
    text-transform: capitalize; }

.hero-input label {
  position: relative;
  display: block;
  max-width: 35rem;
  margin: 0; }

.hero-input .input-track {
  border: 0;
  border-radius: 2.5rem !important;
  padding: 1.25rem 8.5rem 1.25rem 2rem;
  width: 30rem;
  font-weight: 600;
  letter-spacing: .25rem;
  font-size: 1.375rem;
  text-transform: uppercase; }
  .hero-input .input-track:focus {
    outline: 0; }
  .hero-input .input-track::placeholder, .hero-input .input-track:placeholder-shown {
    color: rgba(36, 37, 38, 0.16); }
  .hero-input .input-track.input-fix-scroll {
    padding: 1.25rem 8.5rem 1.25rem 2rem !important; }

.hero-input .btn-track {
  position: absolute;
  top: .375rem;
  right: 3.75rem; }

.input-textarea-wrap .scroll-wrapper {
  padding: 0 !important; }

.input-textarea-wrap .input-track {
  border: 0;
  border-radius: 2.5rem !important;
  width: 100%;
  padding: 1.5rem 2rem;
  padding-right: 2rem;
  min-height: 15rem;
  border-radius: .5rem;
  resize: none;
  letter-spacing: .25rem;
  font-size: 1.375rem;
  text-transform: uppercase; }
  .input-textarea-wrap .input-track:focus {
    outline: 0; }
  .input-textarea-wrap .input-track::placeholder, .input-textarea-wrap .input-track:placeholder-shown {
    color: rgba(36, 37, 38, 0.16); }

.input-textarea-wrap .btn-track {
  top: 1rem;
  left: 0;
  right: auto;
  width: 100%;
  position: relative; }

.btn {
  padding: .75rem 1rem;
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 600;
  cursor: pointer; }
  .btn:focus, .btn:active {
    outline: 0;
    box-shadow: none; }
  .btn-rounded {
    padding: .875rem 2rem !important;
    border-radius: 2rem !important; }
  .btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .625rem 1.625rem .625rem 1.25rem !important;
    background: rgba(35, 35, 35, 0.08);
    color: rgba(36, 37, 38, 0.75);
    transition: background color 300ms ease-in; }
    .btn-login:hover {
      color: #242526;
      background: rgba(35, 35, 35, 0.16); }
    .btn-login i {
      font-size: 1.375rem;
      margin-right: .5rem; }
  .btn-track {
    font-size: 1rem;
    color: #fff;
    background: #FF8C00;
    padding: 1.25rem 1.5rem 1.25rem 1.375rem !important;
    text-transform: capitalize;
    letter-spacing: .125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms cubic-bezier(0.69, 0, 0, 1);
    box-shadow: 2px 2px 8px rgba(36, 37, 38, 0.3); }
    .btn-track:hover {
      background: #ffa333; }
    .btn-track i {
      margin-left: .375rem;
      font-size: 1.25rem; }

main .check {
  box-sizing: border-box;
  -webkit-box-shadow: 2px 18px 76px -2px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 2px 18px 76px -2px rgba(0, 0, 0, 0.19);
  box-shadow: 2px 18px 76px -2px rgba(0, 0, 0, 0.19); }

main .check-valid, main .check-invalid {
  margin-top: 2rem; }

.check {
  padding: 0;
  border-radius: 1rem; }
  .check-label, .check-progress {
    border-radius: 0.5rem; }
  .check-label-header {
    background: #00CE65;
    padding: 0 1.5rem 0 3.5rem;
    position: relative;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem; }
    .check-label-header i {
      color: rgba(69, 69, 69, 0.375);
      position: absolute;
      left: 1rem;
      top: 1.375rem;
      font-size: 1.75rem; }
    .check-label-header > div {
      padding-top: .375rem;
      height: 4rem; }
    .check-label-header .label {
      font-size: 1.25rem;
      color: #fff;
      font-weight: 600; }
    .check-label-header img {
      max-width: 8rem;
      max-height: 2rem; }
  .check-label-body {
    background: #fff;
    padding: 0 1.5rem 0 3.5rem; }
    .check-label-body .name {
      font-size: 1rem;
      font-weight: 600;
      color: #242526; }
    .check-label-body .description {
      color: #a2a5a7; }
  .check-label-footer {
    padding: 0 1.5rem 0 3.5rem;
    padding-bottom: 2.5rem; }

.label-body-header {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  margin-top: 2.5rem; }
  .label-body-header .btn-track {
    font-size: .875rem;
    letter-spacing: 0;
    background: transparent;
    color: #FF8C00;
    border: 2px solid #e5e5e5;
    box-shadow: none;
    right: 0;
    margin-left: auto;
    margin-bottom: 0;
    padding: 0.75rem 1.375rem 0.75rem 1.25rem !important; }
    .label-body-header .btn-track i {
      font-size: 1.5rem !important; }
    .label-body-header .btn-track:hover {
      background: #FF8C00;
      border-color: #FF8C00 !important;
      color: #fff; }

.label-body-illustration,
.label-body-process {
  margin-top: 2.5rem;
  padding: 0 1.5rem 0 3.5rem; }

.label-body-illustration {
  display: flex;
  align-items: self-start;
  justify-content: space-between; }
  .label-body-illustration .position {
    margin-bottom: .5rem;
    color: #e5e5e5;
    font-size: .875rem;
    display: none;
    font-weight: 400; }
  .label-body-illustration .name {
    font-size: 1rem;
    font-weight: 600;
    color: #242526; }
  .label-body-illustration .description {
    color: #a2a5a7; }

.label-body-process li {
  padding-bottom: 1rem; }
  .label-body-process li h5 {
    margin-bottom: .25rem;
    font-weight: 600;
    font-size: 1rem; }
  .label-body-process li p * {
    color: #a2a5a7;
    font-size: .875rem; }

footer {
  padding: 3rem 0;
  background: #242526;
  text-align: center; }
  footer a {
    text-decoration: none !important;
    color: #e0e0e0; }
    footer a:hover {
      color: #fff; }
  footer ul {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem; }
    footer ul li a {
      letter-spacing: 1px;
      padding: .5rem 1rem; }

@media screen and (max-width: 768px) {
  .container.container-navbar {
    max-width: 560px; }
  .navbar-brand img {
    max-height: 30px !important; }
  .hero {
    text-align: center; }
    .hero-img {
      padding-bottom: 5rem !important; }
  .hero-input .input-track {
    width: 100%;
    padding: 1.25rem 1.25rem !important; }
  .hero-input .btn-track {
    left: 0;
    width: 100%;
    top: 1rem;
    position: relative; } }

@media screen and (max-width: 576px) {
  .check-label-body .position {
    display: inline !important; } }

ul.list-custom, ol.list-custom {
  list-style: none; }

ul.list-custom > li, ol.list-custom > li {
  clear: left;
  position: relative; }

ul.list-custom > li:before, ol.list-custom > li:before {
  content: " ";
  height: 1rem;
  width: 1rem;
  display: block;
  float: left;
  margin-left: -2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

ul.list-custom-circle > li:before, ol.list-custom-circle > li:before {
  margin-top: .125rem;
  background-image: url("../img/circle.svg");
  width: 1rem;
  background-size: 90%;
  background-position: center;
  transition: background-size 0.3s;
  -webkit-transition: background-size 0.3s; }

ul.list-custom-circle > li:after,
ol.list-custom-circle > li:after {
  content: " ";
  height: calc(100% - 2.75rem);
  width: 1px;
  display: block;
  position: absolute;
  top: 2rem;
  margin-left: -1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background: #e5e5e5; }

ul.list-custom-circle > li:last-child:after,
ol.list-custom-circle > li:last-child:after {
  content: none; }
