/* Daftar isi
*	0. Font family
*	1. Navbar
*	2. Hero
*	3. Button
*	4. Check label
*	5. Card
*	6. Footer
*	7. side menu
*/

$font-family : "Poppins","Helvetica","Roboto", sans-serif !important;
$rad : .25rem;
$hard-shadow : 3px 3px 2px rgba(18, 18, 18, 0.18);
$clr-grey1 : #333;
// $clr-primary : #007bff;
$clr-primary : #097EC4;
$clr-secondary : #FF8C00;
$clr-success : #00CE65;
$clr-black	: #242526;
$clr-muted	: lighten($clr-black, 50);
$font-size: 16px;
$line-height: 1.5;
$animate-bezier: cubic-bezier(.69,0,0,1);

.py-custom{
	padding-top: 5rem !important;
	padding-bottom: 8rem !important;
}
.my-custom{
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
}
.mt-custom{
	margin-top: 2rem;
}
.pointer{
	cursor: pointer !important;
}
.grayscale{
	opacity: .6;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.no-line{
	&:hover{
		text-decoration: none;
	}
}
.dropdown-menu{
	// border: 0 !important;
	border-weight: 2px !important;
	top: calc(100% + 8px) !important;
	box-shadow: $hard-shadow;
}
select.invalid:invalid,
select.invalid option[value=""],
select.invalid option:first-child {
	color: red;
}

.container-2{
	max-width: 560px;
}

.truck{
	// display: flex;
	// justify-content: center;
	z-index: 1;
	text-align: center;
	position: relative;
	max-width: 10rem;
	// padding: 0;
	max-width: 7rem;
}
.truck:before{
	content: " ";
	width: 100%;
	height: 50%;
	display: flex;
	right: 0;
	left: -0.5rem;
	align-items: center;
	position: absolute;
	border-bottom: 1px dashed lighten($clr-black, 55);
	z-index: -1;
}
.truck-icon{
	margin-right: 1rem;
	padding: 0 .5rem;
	background: #fff;
	z-index: 2;
	width: 3.5rem;
}
.navbar.bg-active{
	background-color: #fff;
	box-shadow: 0 0 4px grey;
	height: 80px;
}
.bg-danger{}
.letter-spacing{
	letter-spacing: 1px;
}
/*Added for browser compatibility*/
[hidden] {
	display: none;
}
// 0. font
body{
	font-family: $font-family;
	font-size: $font-size;
	color: $clr-black;
	line-height: $line-height;
}
.logo h1{
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0;
}
//1. Navbar
.navbar{
	background-color: transparent;
	transition: all 375ms ease 0s;
	// box-shadow: $hard-shadow;
	height: 120px;
	h1{
		color: $clr-black;
		font-size: 1.5rem;
	}
	h1:hover{
		coloe: #161722
	}
	&-brand img{
		transition: all 500ms $animate-bezier;
	}
	&-toggler{
	cursor: pointer;
	line-height: 0 !important;
	border: 0 !important;
	outline: 0 !important;
		:focus{
			outline: 0 !important;
		}
	}
}
p.description{
	font-size: 0.875rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.mt-2rem{
	margin-top: 2rem !important;
}
//2. Hero
.hero{
	// width: 100%;
	// min-height: calc(100vh - 60px);

	&-img{
		padding: 5rem 0 10rem;
		background-repeat: no-repeat;
	    background-position: bottom right;
	    background-size: contain;
	    background-color: #ABDCFF;
    	background-image: -webkit-linear-gradient(to bottom right, #89f7fe, #66a6ff);  /* Chrome 10-25, Safari 5.1-6 */
		background-image: linear-gradient(to bottom right, #89f7fe, #66a6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		width: 100%;
		min-height: 35rem;
		height: 100%;
	}

	&-text{
		margin-bottom: 4rem;
		h2{
			letter-spacing: .375rem;
			font-size: 2.25rem;
			font-weight: 800;
			color: $clr-primary;
			text-transform: capitalize;
		}
	}

	&-input{
		label{
			position: relative;
			display: block;
			max-width: 35rem;
			margin: 0;
		}
		.input-track{
			border: 0;
			border-radius: 2.5rem !important; 
			padding: 1.25rem 8.5rem 1.25rem 2rem;
			width: 30rem;
			font-weight: 600;
			letter-spacing: .25rem;
			font-size: 1.375rem;
			text-transform: uppercase;
			&:focus{
				outline: 0;
			}
			&::placeholder, &:placeholder-shown{
				color: rgba($clr-black, 0.16);
			}
			&.input-fix-scroll{
				padding: 1.25rem 8.5rem 1.25rem 2rem !important;
			}
		}
		.btn-track{
			position: absolute;
			top: .375rem;
			right: 3.75rem;
		}

		
	}

}

.input-textarea-wrap{
	.scroll-wrapper{
		padding: 0 !important;
	}
	.input-track{
		border: 0;
		border-radius: 2.5rem !important; 
		width: 100%;
		padding: 1.5rem 2rem;
		padding-right: 2rem;
		min-height: 15rem;
		border-radius: .5rem;
		resize: none;
		letter-spacing: .25rem;
		font-size: 1.375rem;
		text-transform: uppercase;
		&:focus{
			outline: 0;
		}
		&::placeholder, &:placeholder-shown{
			color: rgba($clr-black, 0.16);
		}
	}
	.btn-track{
		top: 1rem;
		left: 0;
		right: auto;
		width: 100%;
		position: relative;
	}
}
//3. Button
.btn{
	&:focus, &:active{outline:0; box-shadow: none;}
	padding: .75rem 1rem;
	text-transform: uppercase;
	font-size: .875rem;
	font-weight: 600;
	cursor: pointer;
	&-rounded{
		padding: .875rem 2rem !important;
		border-radius: 2rem !important;
	}
	&-login{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: .625rem 1.625rem .625rem 1.25rem !important;
		background: rgba(35,35,35,0.08);
		color: rgba($clr-black, 0.75);
		transition: background color 300ms ease-in;
		&:hover{
			color: rgba($clr-black, 1);
			background: rgba(35,35,35,0.16);
		}
		i{
			font-size: 1.375rem;
			margin-right: .5rem;
		}
	}
	&-track{
		font-size: 1rem;
		color: #fff;
		background: $clr-secondary;
		padding: 1.25rem 1.5rem 1.25rem 1.375rem !important;
		text-transform: capitalize;
		letter-spacing: .125rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 500ms $animate-bezier;
		box-shadow: 2px 2px 8px rgba($clr-black, 0.3);
		&:hover{
			background: lighten($clr-secondary, 10%);
		}
		
		i{
			margin-left: .375rem;
			font-size: 1.25rem;
		}
	}
}

main{
	.check{
		box-sizing: border-box;
		-webkit-box-shadow: 2px 18px 76px -2px rgba(0,0,0,0.19);
		-moz-box-shadow: 2px 18px 76px -2px rgba(0,0,0,0.19);
		box-shadow: 2px 18px 76px -2px rgba(0,0,0,0.19);
	}
	.check-valid, .check-invalid{
		margin-top: 2rem;
	}
}

.check{
	padding: 0;
	border-radius: 1rem;
	&-label, &-progress{
		border-radius: 0.5rem;
	}
	&-label{
		&-header{
			background: $clr-success;
			padding: 0 1.5rem 0 3.5rem;
			position: relative;
			border-top-left-radius: .5rem;
			border-top-right-radius: .5rem;
			i{
				color: rgba(#454545, 0.375);
				position: absolute;
				left: 1rem;
				top: 1.375rem;
				font-size: 1.75rem;
			}
			> div{
				padding-top: .375rem;
				height: 4rem;
			}
			.label{
				font-size: 1.25rem;
				color: #fff;
				font-weight: 600;
			}
			img{
				max-width: 8rem;
				max-height: 2rem;
			}
		}
		&-body{
			background: #fff;
			padding: 0 1.5rem 0 3.5rem;
			.name{
				font-size: 1rem;
				font-weight: 600;
				color: $clr-black;
			}
			.description{
				color: $clr-muted;
			}
		}
		&-footer{
			padding: 0 1.5rem 0 3.5rem;
			padding-bottom: 2.5rem;
		}
	}
}

.label-body-header{
    display: flex;
    align-items: self-start;
    justify-content: space-between;
	margin-top: 2.5rem;
    .btn-track{
		font-size: .875rem;
		letter-spacing: 0;
		background: transparent;
		color: $clr-secondary;
		border: 2px solid #e5e5e5;
		box-shadow: none;
		right: 0;
		margin-left: auto;
		margin-bottom: 0;
		padding: 0.75rem 1.375rem 0.75rem 1.25rem !important;
		i{
			font-size: 1.5rem !important;
		}
		&:hover{
			background: $clr-secondary;
			border-color: $clr-secondary !important;
			color: #fff;
		}
	}
}

.label-body-illustration,
.label-body-process{
	margin-top: 2.5rem;
	padding: 0 1.5rem 0 3.5rem;
}
.label-body-illustration{
	display: flex;
	align-items: self-start;
	justify-content: space-between;
	.position{
		margin-bottom: .5rem;
		color: #e5e5e5;
		font-size: .875rem;
		display: none;
		font-weight: 400;
	}
	.name{
		font-size: 1rem;
		font-weight: 600;
		color: $clr-black;
	}
	.description{
		color: $clr-muted;
	}

}

.label-body-process{
	li{
		padding-bottom: 1rem;
		h5{
			margin-bottom: .25rem;
			font-weight: 600;
			font-size: 1rem;
		}
		p *{
			color: $clr-muted;
			font-size: .875rem;
		}
	}
}

footer{
	padding: 3rem 0;
	background: $clr-black;
	text-align: center;
	a{
		text-decoration: none !important;
		color: #e0e0e0;
		&:hover{
			color: #fff;
		}
	}
	ul{
		display: flex;
		justify-content: center;
		margin-top: 1.5rem;
		li a{
			letter-spacing: 1px;
			padding: .5rem 1rem;
		}
	}
}

@media screen and (max-width:768px) {
	.container.container-navbar{
		max-width: 560px;
		// padding: 0 !important;
	}
	.navbar-brand img{
		max-height: 30px !important;
	}
	.hero{
		text-align: center;
		&-img{
			padding-bottom: 5rem !important;
		}
	}
	.hero-input{ 
		.input-track{
			width: 100%;
			padding: 1.25rem 1.25rem !important;
		}
		.btn-track{
			left: 0;
			width: 100%;
			top: 1rem;
			position: relative;
		}
	}

}

@media screen and (max-width:576px) {

	.check-label-body .position{
		display: inline !important;
	}

}
ul.list-custom, ol.list-custom{
  list-style:none;
}
ul.list-custom > li, ol.list-custom >li {
  clear:left;
  position: relative;
}

ul.list-custom > li:before, ol.list-custom > li:before {
  content:" ";
  height:1rem;
  width:1rem;
  display:block;
  float:left;
  margin-left: -2rem;
  background-position:center;
  background-repeat:no-repeat;
  background-size:100%;
}

ul.list-custom-circle > li:before, ol.list-custom-circle > li:before{
	margin-top: .125rem;
	background-image:url("../img/circle.svg");
	width: 1rem;
	background-size:90%;
	background-position:center;
	transition: background-size 0.3s;
	-webkit-transition: background-size 0.3s;
}

ul.list-custom-circle > li:after, 
ol.list-custom-circle > li:after{
	content:" ";
	height: calc(100% - 2.75rem);
	width:1px;
	display:block;
	position: absolute;
	top: 2rem;
	margin-left: -1.5rem;
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
	background: #e5e5e5;
}

ul.list-custom-circle > li:last-child:after,
ol.list-custom-circle > li:last-child:after{
	content: none;
}